<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marcenaria Caioba</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../style/reset.css">
    <link rel="stylesheet" href="../style/padrao.css">
    <link rel="stylesheet" href="../style/contato.css">

</head>

<body>

    <header>

        <a href="https://basesocial.org" target="_blank"><img class="logoBase" id="logoNormal"
                src="../assets/padrao/logo.png" alt="Logo Base Social"></a>

        <nav>
            <ul>
                <a href="home.html">
                    <li class="menu home">HOME</li>
                </a>
                <a href="produtos.html">
                    <li class="menu produtos">PRODUTOS</li>
                </a>
                <a href="contato.html">
                    <li class="menu contato">CONTATO</li>
                </a>
            </ul>
        </nav>

    </header>

    <main>

    </main>

    <footer>
        <a href="https://basesocial.org" target="_blank"><img class="logoBase" id="logoBranca"
                src="../assets/padrao/logo-branco.png" alt="Logo Base Social"></a>
        <p class="copyright">© Copyright Marcenaria Caioba - 2022</p>
    </footer>

</body>

</html>