<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marcenaria Caioba</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../style/reset.css">
    <link rel="stylesheet" href="../style/padrao.css">
    <link rel="stylesheet" href="../style/home.css">

</head>

<body>

    <header>

        <a href="https://basesocial.org" target="_blank"><img class="logoBase" id="logoNormal"
                src="../assets/padrao/logo.png" alt="Logo Base Social"></a>

        <nav>
            <ul>
                <a href="home.html">
                    <li class="menu home">HOME</li>
                </a>
                <a href="produtos.html">
                    <li class="menu produtos">PRODUTOS</li>
                </a>
                <a href="contato.html">
                    <li class="menu contato">CONTATO</li>
                </a>
            </ul>
        </nav>

    </header>

    <main>

        <img id="banner" src="../assets/home/banner.jpg" alt="Banner com materiais de marcenaria.">

        <div>
            <p class="missao">Sobre a Marcenaria Caioba</p>

            <p>Localizada no coração da cidade a Marcenaria Calo traz para o mercado o que há de melhor em móveis
                planejados. Fundada em 2019, a Marcenaria Caioba já é destaque na cidade e conquista novos clientes a
                cada dia.</p>
            <br>
            <p class="missao">Nossa missão é: <span class="vermelho">"Proporcionar auto-estima e qualidade de vida aos
                    clientes."</span></p>
            <br>
            <p>Oferecemos profissionais experientes e antenados às mudanças no mundo de design e arquitetura. O
                atendimento possui padrão de excelência e agilidade, garantindo qualidade e satisfação dos nossos
                clientes.</p>
        </div>

        <p id="beneficios">BENEFÍCIOS</p>

        <section>

            <br>
            <aside>
                <ol>
                    <em>
                        <li>Atendimento aos Clientes</li>
                        <br>

                        <li>Espaço diferenciado</li>
                        <br>

                        <li>Bem localizado</li>
                        <br>

                        <li>Profissionais Qualificados</li>
                        <br>

                        <li>Madeiras Bonitas</li>
                        <br>

                        <li>Cafézinho</li>
                        <br>

                        <li>LGBTQIA+ friendly</li>
                        <br>
                    </em>
                </ol>
            </aside>

            <img src="../assets/home/beneficios.jpg" alt="Imagem de marcenaria para benefícios." class="beneficios">
        </section>

    </main>

    <footer>
        <a href="https://basesocial.org" target="_blank"><img class="logoBase" id="logoBranca"
                src="../assets/padrao/logo-branco.png" alt="Logo Base Social"></a>
        <p class="copyright">© Copyright Marcenaria Caioba - 2022</p>
    </footer>

</body>

</html>