main {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 61vw;
    height: 85vh;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 15px;
    margin-top: 7vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15vh;
}

label {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

input {
    display: block;
}

.radio {
    display: inline-block;
}

.contato {
    color: chocolate;
}

.caixa {
    width: 36vw;
    height: 4vh;
    border: solid, rgb(134, 134, 134);
}

#mensagem {
    display: block;
    height: 25vh
}

#submit {
    height: 6vh;
    width: 20vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background-color: rgb(241, 139, 4);
    color: aliceblue;
    border: 0;
    border-radius: 3px;
}