header {
    display: flex;
    background-color: rgb(216, 215, 215);
    align-items: center;
    justify-content: space-around;
    height: 15vh;
}

ul {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}

li {
    margin-right: 2vw;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: chocolate
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 29vh;
    background-image: url(../assets/padrao/background_rodape.jpg);
}

.logoBase {
    height: 12vh;
    width: auto;
}

.logoBase:hover {
    transform: scale(1.1);
}

.copyright {
    color: aliceblue;
    margin-top: 2vh;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: medium;
}