main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60vw;
    height: 82vh;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 15px;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vh;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 32vh;
    width: 15vw;
    padding: 20px;
    border: 2px solid rgb(122, 122, 122);
    border-radius: 10px;
    background-color: rgb(247, 247, 247);
}

div:hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(1.1);
    border: 2px solid chocolate;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
}

div:hover p {
    font-size: larger;
    color: chocolate;
    transition: 0.5s;
}

div:hover img {
    height: 30vh;
    width: 14vw;
    border-radius: 10px;
    transition: 0.5s;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin-bottom: 1vh;
}

img {
    height: 30vh;
    width: 14vw;
    border-radius: 5px;
}

.produtos {
    color: chocolate;
}